addict
ansi2html
attributee
attrs
av
Babel
bcc
bcrypt
bidict
blinker
Brlapi
cachetools
certifi
chardet
charset-normalizer
click
cloud-init
colorama
colorlog
command-not-found
configobj
contourpy
create-mcp-server
cryptography
cupshelpers
cycler
dbus-python
debugpy
defer
distro
distro-info
djitellopy
dlib
dominate
duplicity
face-recognition
face-recognition-models
facenet-pytorch
fasteners
filelock
Flask
Flask-Assets
Flask-Cors
Flask-Login
fonttools
fsspec
gyp
httplib2
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
llvmlite
louis
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonic
more-itertools
mpmath
music21
netaddr
netifaces
networkx
numba
numpy
oauthlib
olefile
opencv-python
opencv-python-headless
ordered-set
packaging
paramiko
pexpect
phx-class-registry
pillow
platformdirs
pluggy
podman-compose
psutil
psycopg2-binary
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
PyLaTeX
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
PySide6
PySide6_Addons
PySide6_Essentials
pytest
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxdg
PyYAML
requests
rich
ruamel.yaml
ruamel.yaml.clib
screen-resolution-extra
setuptools
shiboken6
six
sympy
systemd-python
toml
tqdm
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
uv
vot-trax
wadllib
webassets
webcolors
Werkzeug
wheel
xdg
xkit
yapf
zipp
